<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li> <a href="{% url 'adminhome' %}">Acceuil</a></li><!-- style="color: white;background-color: grey;"-->
        <li> <a href="{% url 'adminaddDoctor' %}">Ajouter Docteur</a></li>
        <li> <a href="{% url 'adminviewDoctor' %}">Voir Docteur</a></li>
        <li> <a href="{% url 'adminaddReceptionist' %}">Ajouter Receptioniste</a></li>
        <li> <a href="{% url 'adminviewReceptionist' %}">Voir Receptionistes</a></li>
        <li> <a href="{% url 'adminviewAppointment' %}">Voir Rendez-vous</a></li>
        <li> <a href="{% url 'adminlogout' %}">Déconnexion</a></li>
    </ul>
</div>